<%
#
# This file is part of meego-test-reports
#
# Copyright (C) 2010 Nokia Corporation and/or its subsidiary(-ies).
#
# Authors: Jussi Jokinen <jussijokinen@iki.fi>
#          Sami Hangaslammi <sami.hangaslammi@leonidasoy.fi>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public License
# version 2.1 as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
# 02110-1301 USA
#
%>
<div id="index_page">
<%= breadcrumbs %>

<!--<img src="<%#=@trend_graph_url%>"/>-->

<table id="report_navigation" class="filtered">
    <thead>
    <tr>
      <th scope="col"><%=@target%></th>
    </tr>
    </thead>
    <tr>
      <td>
       	  ** DUMMY HTML START **<br/> 	  
      	  <img src="/images/stack_chart_dummy.png" alt="stack chart" />
      	  <div class="chart_actions">
	      	  <a class="ui_btn inactive">Absolute values</a>
	      	  <a class="ui_btn">Relative %</a>
      	  </div>
      
      	  <%= render :partial=>'month', :collection => @headers %>
      	  

      </td>
    </tr>
   
  </table>
  </div>