<% if @editing %>
<div class="editable_text editable_title">
<% end %>

<h1 class="clearfix"><span class="content"><%=@report.title%></span><span class="heading_actions"></span></h1>

<% if @editing %>
</div>
<% end %>

