<% if @editing %>
<div class="editable_text editable_date">
<% end %>

<h1 class="clearfix"><span class="content"><%=@report.title%></span><span class="heading_actions"></span></h1>
<%= yield :view_in_browser_link %>

<% if @editing %>
</div>
<% end %>

